/* nav bar style */

body{
    font-size: 16pt;
    margin: 0;
    box-sizing: border-box;
}

/*  back ground image*/
body{
    background-image: url("../img/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;		
}
header nav ul {
    list-style : none;
    text-align: right;
    margin:0;
    background-color: #0073aa;
}
header nav ul li a {
    text-decoration: none;
    color:#ffffff;
}

header nav ul li{
    display: inline-block;
    padding: 1px;
    margin-right: 10px;
}

.logo{
    position:absolute;
    left: 20px;
    top: 0;
}



/*search bar style */


#search{
    width: 30%;
    padding: 3px;
    border: 1px solid #000000;
    font-family: Georgia,Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-right: 0;

}
#submit{
    border-radius: 5px 5px 5px 5px;
    
    border: 1px solid #000000;
    
    cursor: pointer;

    margin-left: -5px;   
}

#submit:hover{
    background: #0073aa;
    transition: all 0.30s;
    color: #ffffff;

}

.search-bar{
    text-align: center;
}
/*
.search-bar{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
.search-bar{
    position: absolute;
    top: 50%;
    width: 100%;
}

